<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Motivation</h2>
                <hr class="light">
                <p class="text-faded">To make the World a better Place, we need to know, where we as Humans would like to change it to.
                Humanity already changed the World dramaticly. For us this means we can have impact to the World, we already proved we can.
                For starting a Change let's collect Visions about Utopia.
                                      </p>
                <a href="#pre-submit" class="page-scroll btn btn-default btn-xl">Pre-Submit Vision!</a>
            </div>
        </div>
    </div>
</section>



