<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Motivation</h2>
                <hr class="light">
                <p class="text-faded">Let's not only show what's going on in our lives via pictures and tweets, let's also tell what we belief in.
                                      We want to connect the World through Dreams, while collecting, sorting and publishing them, we make a big step forward and let our Dreams come true.
                                      </p>
                <div class="btn btn-default btn-xl">Coming soon!</div>
            </div>
        </div>
    </div>
</section>
