<section id="contact">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Do you have any Quastions? Do you want to help making youtopi come true? Do you have any Ideas? Get in Touch!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <a href="https://join.slack.com/t/youtopi/shared_invite/enQtMjk4ODY0MzU1MzAyLWFjZDZjMTAxMDllMWFjYzNmZGM1NDNkYzA5MzJiZTAxMzhlMmRiZGM5N2MyZDQzMWQ4MjU1MDU1MGRmYjAzODk">
                    <i class="fa fa-slack fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Join our Slack-Channel to Chat with us!</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
        </div>
    </div>
</section>
