<section id="how_to_help">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Like the Idea?</h2>
            <hr class="primary">
            <p>If you want to help youtopi to grow, join our team and make the idea real.</p>
            <p>We're currently looking for people with experience in:</p>
            <ul class="list-unstyled">
                <li>Marketing</li>
                <li>Graphics & Design</li>
                <li>Puplic Relations</li>
                <li>Web Development</li>
                <li>Skills we need and do not know about yet!</li>
            </ul>
            <p>Simply send a Mail to <a href="mailto:team@youtopi.org">team@youtopi.org</a>. Nice to see you soon!</p>
        </div>
    </div>
</div>
</section>
