<section id="mission">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Mission</h2>
            <hr class="primary">
            <p>Our mission is to create and maintain a network for all Youtopis that provides all nessery requirements
               for free and easy exchange of radically visionary ways of thinking. Based on Article 1. of the United Nations
               declaration of human rights Youtopis believe that, all human beings are born free and equal in dignity and rights. 
               They are endowed with reason and consience and should act towards one another in a spirit of brotherhood.</p>
        </div>
    </div>
</div>
</section>



