<section id="motivation">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Motivation</h2>
            <hr class="primary">
            <p>To make the World a better Place, we need to know, where we as Humans would like to change it to.
            Humanity already changed the World dramaticly. For us this means, we can have impact to the World, 
            we already proved we have.
            For starting a Change let's collect Visions about our Utopia.
            </p>
        </div>
    </div>
</div>
</section>



