<section id="phases">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Youtopi's plan</h2>
            <hr class="primary">
        </div>
        <div class="col-md-offset-2 col-md-8 col-lg-6 col-lg-offset-3" >
            <h4>1. Collect Visions:</h4>
            <p style="padding-left: 20px">
            As Youtopis we all have dreams and share certain Visions of Utopia. 
            So first of all, these great Ideas need to be told, preserved and shared with the world.
            Therefore use our <a href="#pre-submit">Youtopi-DreamForm</a>
            </p>
            <h4>2. Rank and Cluster:</h4>
            <p style="padding-left: 20px">
            After a while there will be a dream-world, but submitted Visions need to be merged, enriched or improved, 
            to reach a better world.
            The youtopi community will help all of us to rank and cluster our amazing Visions.
            </p>
            <h4>3. Comapre and Resolve:</h4>
            <p style="padding-left: 20px">
            After we all created this dream-world, let's start to find the way to make our dream come true.
            Everyone in our community can pick one or more visions and describe the current situtation he thinks there is.
            We can resolve the Issue by finding a way how to get one step closer to Utopia.
            </p>
            <h4>4. Have Impact!</h4>
            <p style="padding-left: 20px">
            Finally we all have to take action and make a dream come true. In phase 4 Youtopis organize themselves and change the world in small steps,
            Vision by Vision for the bigger Vision.
            </p>
        </div>
    </div>
</div>
</section>
