<section id="phases">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">youtopi's phases</h2>
            <hr class="primary">
        </div>
        <div class="col-md-offset-2 col-md-8 col-lg-6 col-lg-offset-3" >
            <h4>1. Collect Visions:</h4>
            <p style="padding-left: 20px">
            Make all your Visions visible for others. Together we will decide, which Visions will become our Utopia!
            We only can change the World, if we know in which direction we want to change it!
            </p>
            <h4>2. Compare our Visions with the Realworld:</h4>
            <p style="padding-left: 20px">
            After we know what we want for our Utopia to look like, we can enter the next step:
            As a group of Youtopis, we try to describe the Realworld. How does the World look like today?
            </p>
            <h4>3. Find solutions:</h4>
            <p style="padding-left: 20px">
            How can we transform the current World as close as possible to our Utopia?
            </p>
            <h4>4. Take action!</h4>
            <p style="padding-left: 20px">
            Support each other to reach our goals together as Youtopis!
            </p>
        </div>
    </div>
</div>
</section>
