
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="da3f807a-b1c5-4854-9bb6-637b5b2c5cf4" type="text/javascript" async></script>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112356064-1"></script>
<script type="text/plain" data-cookieconsent="statistics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112356064-1', { 'anonymize_ip': true  });


    $('#subscribe-mailerlite-button').on('click', function() {
        var $this = $(this);
      $this.button('loading');
        setTimeout(function() {
               $this.button('reset');
           }, 5000);
    });

</script>


<script type="text/javascript" src="https://static.mailerlite.com/js/w/webforms.min.js?v3772b61f1ec61c541c401d4eadfdd02f"></script>
