<section class="bg-primary" id="vision">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">youtopi's Vision</h2>
            <hr class="light">
            <p class="text-faded">As Youtopis we want to encourage people to rethink the world, philosophize, discuss and exchange ideas
            within a global social network of Visons, describing a better world.
           </p>
        </div>
    </div>
</div>
</section>
